html {
    height: 120%;
}

body {
    background-image: linear-gradient( #681abf,#abdea2);
    padding-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.deer img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color:#f1c496;
    
    min-height: 100px;
    display: flex;
   justify-content: space-between;

}

 .title {
    text-align: center;
    font-size: 2.5rem;
}

header p {
    padding: 20px;
    color: #0a087f;
}

main {
   
    min-height: 300px;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    color: #0a087f;
    font-size: 2rem;
    padding-bottom: 10px;
}

.herobox1 {
   
    
    flex: 2;
}

.herobox1 h1 {
    margin-top: 30px;
}

.herobox1 p {
   
    margin-right: 15px;
    color: #0a087f;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 15px;
    padding: 0 10px; 
}
    


.herobox2 {
    
    
    flex: 1;
}

.cards {
    
    min-height: 300px;
    display: flex;
   justify-content: space-between;
   text-align: center;
   
   color: #0a087f;
   font-size: 1.5rem;
   
    
}

.card1 {
    
    min-height: 300px;
    width: 30%;
   
}

.card2 {
   
    min-height: 300px;
    width: 30%;
    
}

.card3 {
  
    min-height: 300px;
    width: 30%;
    
    
}

.cards p {
    margin-top: 5px;
}
@media (max-width: 768px) {

    .herobox1,
    .herobox2 {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .herobox2 img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }


}
